* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
}

.wrapper {
	margin: auto;
	max-width: 1200px;
}

header {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../images/background.jpg);
	background-size: cover;
}

.description-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 0;
	top: -5px;
	height: 100%;
	width: 100%;
	background-image: url(../images/header-container-small.png);
	background-size: cover;
}

header a {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 4%;
	font-size: 35px;
	color: white;
	transition: 0.3s;
}

header a:hover {
	color: #ee2b2f;
}

.logo {
	margin-top: 30px;
	height: 120px;
	width: 320px;
	background-image: url(../images/logo.png);
	background-position: center;
	background-size: cover;
	z-index: 10;
}

.description {
	padding: 30px 30px;
	text-align: center;
}

.advantages {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-image: url(../images/Info_sekcja.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

.advantages-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 9, 27, 0.3);
}

.advantages h2 {
	padding-top: 35px;
	z-index: 3;
}

.advantages .underline {
	z-index: 3;
}

.advantages .icon-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	z-index: 3;
}

.advantages .icon-group {
	margin: 20px 0;
}

.advantages .icon {
	font-size: 50px;
	padding: 10px 0;
}

.advantages .icon-title {
	font-weight: bold;
}

.advantages .icon-description {
	padding: 7px 60px;
	font-size: 13px;
}

.advantages .icon-container {
	padding: 50px 0;
}

.underline {
	margin: 10px auto 40px;
	width: 60px;
	height: 4px;
	border-radius: 5px;
	background-color: #ee2b2f;
}

footer {
    overflow: hidden;
}

footer .first-container {
	padding: 30px 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	text-align: center;
}

footer .item {
	margin: 20px 0;
	transition: 0.4s;
	overflow: hidden;
}

footer .item:hover {
	transform: scale(1.05);
}

footer .info {
	font-size: 26px;
}

footer .fa-solid {
    font-size: 40px;
	padding: 0 10px;
}

footer .description {
	padding-top: 10px;
	font-size: 18px;
}

footer .footer-underline {
	height: 1px;
	width: 100%;
	background-color: rgb(36, 36, 36);
}

footer .second-container {
	padding: 15px 0;
	text-align: center;
}

@media (min-width: 992px) {
	header {
		background-image: url(../images/background\ new.jpg);
	}

	.description-container {
		width: 700px;
		background-image: none;
		justify-content: center;
	}

	.logo {
		height: 200px;
		width: 550px;
	}

	.description {
		font-size: 20px;
	}

	header a {
		color: black;
	}

	.advantages .icon-container {
		grid-template-columns: repeat(2, 1fr);
	}

    footer .first-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
	.description-container {
		width: 800px;
	}
}
