.shop-section {
	position: relative;
	padding: 30px 20px;
	text-align: center;
	border-top: 1px solid var(--second-color);

	h2 {
		font-size: 14px;
		font-weight: 400;
		color: var(--second-color);
		margin-bottom: 5px;
	}

	.title {
		font-size: 40px;
		font-weight: 500;
		font-family: "Cormorant Garamond", serif;
	}

	.description {
		font-size: 15px;
		margin-top: 10px;
		color: #535353;
	}

	.container {
		.shop-btn {
			background-color: transparent;
			color: var(--second-color);
			border: 2px solid var(--second-color);

			&:hover {
				background-color: var(--main-color);
			}
		}

		.carousele-arrows {
			display: none;
			justify-self: end;
			margin: 20px 0 10px;

			i {
				font-size: 20px;
				transition: color 0.3;

				&:first-of-type {
					margin-right: 30px;
				}

				&:hover {
					color: var(--second-color);
				}

				&.slick-disabled {
					color: #ddd;
				}
			}
		}
		.carousele-container {
			position: relative;
			margin-top: 40px;
			// padding: 0 20px;
			overflow: hidden;

			.slick-track {
				display: flex !important;
			}

			.slick-slide {
				padding: 0 20px;
				height: auto;
			}

			.slick-dots {
				text-align: center;

				li {
					display: inline-block;
					margin: 20px 10px 50px;

					button {
						background: none;
						border: 1.5px solid var(--second-color);
						width: 20px;
						height: 20px;
						border-radius: 50%;
						color: transparent;
						transition: background 0.3s;

						&:hover {
							background: var(--main-color);
						}
					}

					&.slick-active {
						button {
							background: var(--second-color);
						}
					}
				}
			}

			.card {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0 20px;
				width: 100%;
				padding: 20px;
				border-radius: 20px;
				background: #ffff;
				background: linear-gradient(
					160deg,
					rgba(255, 255, 255, 0) 0%,
					rgba(247, 247, 247, 1) 50%,
					rgba(242, 242, 242, 1) 100%
				);
				border: 1.5px solid var(--second-color);
				text-align: center;
				-webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);
				box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);

				&:hover {
					.image {
						.mockup {
							opacity: 1;
						}
					}
				}

				.description {
					width: 100%;
					margin-top: 15px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: start;
					gap: 10px;

					.title {
						font-weight: 500;
						flex: 1;
						text-align: left;
						word-break: break-word;
					}

					.price {
						// font-weight: bold;
						white-space: nowrap;
						text-align: right;
					}
				}

				.weight {
					align-self: start;
					font-size: 12px;
					color: #606060;
				}

				.image {
					position: relative;
					border-radius: 20px;
					// padding: 25px 0;
					width: 100%;
					// max-height: 250px;
					height: 100%;
					background-color: #fff;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: transform 0.4s;
					}

					.mockup {
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						transition: opacity 0.5s ease-out;
					}
				}

				.title {
					color: var(--main-color);
					font-size: 18px;
				}

				.price {
					padding: 4px 0;
					color: var(--second-color);
				}

				.buttons-container {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 8px;
					margin-top: 15px;
					font-size: 13px;
					a {
						position: relative;
						font-size: 13px;
						padding: 12px 20px;
						border-radius: 50px;
						text-decoration: none;
						border: 1.5px solid var(--second-color);
						color: var(--second-color);
						background-color: #fff;
						// background: #ececec;
						// color: #606060;
						transition: background-color 0.3s, color 0.3s;

						&:hover {
							background: var(--main-color);
						}

						// &::before {
						// 	content: "";
						// 	position: absolute;
						// 	inset: 0;
						// 	padding: 1px; /* grubość bordera */
						// 	border-radius: 50px;
						// 	background: linear-gradient(
						// 		180deg,
						// 		rgba(242, 242, 242, 0) 0%,
						// 		rgba(129, 129, 129, 1) 50%,
						// 		rgba(255, 255, 255, 1) 100%
						// 	);
						// 	-webkit-mask: linear-gradient(#fff 0 0) content-box,
						// 		linear-gradient(#fff 0 0);
						// 	-webkit-mask-composite: xor;
						// 	mask-composite: exclude; /* Firefox */
						// 	pointer-events: none;
						// }
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.shop-section {
		.title {
			font-size: 50px;
		}
	}
}

@media (min-width: 1200px) {
	.shop-section {
		.container {
			.carousele-arrows {
				display: block;
			}
		}
	}
}
