.contact-subpage {
	margin-top: 30px;
	.container {
		padding: 20px;
		color: var(--main-color);

		.info-item {
			text-align: center;

			h2 {
				font-family: "Cormorant Garamond", serif;
				font-size: 22px;
				margin-bottom: 10px;
			}

			p {
				font-size: 15px;
				padding: 5px 0;
			}

			a {
				padding: 5px 0;
				display: block;
				font-size: 15px;
				color: var(--main-color);
				text-decoration: none;

				&:last-of-type {
					margin-bottom: 30px;
				}

				&:hover {
					color: var(--second-color);
				}
			}
		}

		h2 {
			text-transform: uppercase;
			font-size: 28px;
			text-align: center;
		}

		.adress {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 24px;
			margin-bottom: 40px;
		}

		// a {
		// 	text-align: center;
		// 	text-decoration: none;
		// 	display: block;
		// 	color: var(--main-color);
		// 	margin: 40px 0;
		// 	font-size: 22px;
		// 	transition: color 0.3s, transform 0.3s;

		// 	i {
		// 		padding-right: 5px;
		// 	}

		// 	&:first-of-type {
		// 		margin-bottom: 20px;
		// 	}

		// 	&:hover {
		// 		color: var(--second-color);
		// 		transform: scale(1.05);
		// 	}

		// 	.item {
		// 		p {
		// 			&:first-of-type {
		// 				padding-bottom: 10px;
		// 			}

		// 			&:last-of-type {
		// 				font-size: 14px;
		// 			}
		// 		}
		// 	}
		// }
	}

	.contact-form-container {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		margin-top: 40px;
		background-color: var(--main-color);

		.form-info {
			padding: 50px 20px 10px;
			h2 {
				font-family: "Cormorant Garamond", serif;
				font-size: 34px;
				color: #fff;
			}

			p {
				color: #fff;
				margin: 5px 0 25px;
			}
		}

		.contact-form {
			padding: 0 20px;

			label {
				color: #fff;
				padding-left: 5px;
				font-size: 13px;
			}

			.error {
				border: 1px solid rgb(194, 52, 52) !important;
			}

			.error-message {
				color: blue;
				font-size: 12px;
				margin-bottom: 15px;
				opacity: 0;
				transform: translateY(5px);
				transition: opacity 0.5s ease, transform 0.5s ease;

				&.visible {
					opacity: 1;
					transform: translateY(0);
				}
			}

			.message-status-form {
				position: relative;
				display: none;
				width: 100%;
				height: 50px;
				margin-top: 30px;
				margin-bottom: 30px;
				padding: 20px 10px;
				background-color: #000;
				text-align: center;

				p {
					width: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					font-weight: bold;
					letter-spacing: 1.5px;
				}

				&.active {
					display: block;
				}
			}

			input {
				padding-left: 10px;
				&::placeholder {
					color: #ddd;
					font-size: 15px;
				}
			}

			.formField {
				margin-top: 5px;
				margin-bottom: 20px;
				width: 100%;
				height: 50px;
				background-color: var(--main-color);
				border-radius: 5px;
				border: 1.5px solid #fff;
				color: #fff;
			}
			.formMessage {
				height: 200px;
			}

			textarea {
				resize: none;
				padding: 10px 0 0 10px;
				&::placeholder {
					color: #ddd;
					font-size: 15px;
				}
			}

			button {
				cursor: pointer;
				width: 100%;
				padding: 20px 0;
				background-color: var(--second-color);
				border: none;
				color: #fff;
				font-size: 16px;
				margin-bottom: 50px;
				border-radius: 10px;
				transition: color 0.3s, background-color 0.3s;

				&:hover {
					color: #000;
					background-color: #b5854a;
				}
			}
		}
	}
}

.map {
	height: 250px;
}

@media (min-width: 992px) {
	.contact-subpage {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.container {
			width: 50%;

			.info-item {
				h2 {
					font-size: 25px;
				}

				p {
					font-size: 16px;
				}

				a {
					font-size: 16px;

					&:last-of-type {
						margin-bottom: 50px;
					}
				}
			}

			h2 {
				font-size: 20px;
				text-align: center;
			}

			.adress {
				font-size: 30px;
				text-align: center;
			}

			// a {
			// 	font-size: 30px;

			// 	&:first-of-type {
			// 		margin-top: 60px;
			// 		margin-bottom: 50px;
			// 	}

			// 	.item {
			// 		p {
			// 			&:last-of-type {
			// 				font-size: 18px;
			// 			}
			// 		}
			// 	}
			// }
		}

		.contact-form-container {
			position: relative;
			width: 50%;
			margin-top: 0;
			// padding: 50px 0;

			.form-info {
				h2 {
					font-size: 40px;
				}
			}
		}
	}
}
