.shop-filters-modal {
	position: fixed;
	top: 0;
	left: -100%;
	height: 100%;
	width: 325px;
	background-color: var(--main-color);
	z-index: 1000;
	transition: left 0.5s ease-in-out;

	&.active {
		left: 0;
	}

	.top-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20px 10px;
		color: #fff;
		border-bottom: 1px solid #333;

		p {
			font-family: "Cormorant Garamond", serif;
			font-weight: bold;
			font-size: 20px;
		}

		.close-btn {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			cursor: pointer;

			p {
				font-family: "Poppins", sans-serif;
				font-size: 13px;
				transition: color 0.3s;
			}

			i {
				font-size: 19px;
				padding-right: 5px;
				transition: color 0.3s;
			}

			&:hover {
				p {
					color: #ddd;
				}

				i {
					color: #ddd;
				}
			}
		}
	}

	.main-container {
		color: #fff;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 30px 20px;

		.price-filter {
			.title {
				font-family: "Cormorant Garamond", serif;
				text-transform: uppercase;
			}
		}
	}
}

.shop-subpage-container {
	.filters-container {
		display: none;
	}

	.products-container {
		.mobile-btns {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 15px 20px 0;

			p {
				font-size: 13px;
				font-weight: 500;
				transition: color 0.3s;
				cursor: pointer;

				&:hover {
					color: var(--second-color);
				}

				i {
					&:first-of-type {
						padding-right: 5px;
					}
				}
			}
		}
		.container {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
			padding: 30px 20px;
			.card {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 20px;
				border-radius: 20px;
				// background: #ffff;
				// background: linear-gradient(
				// 	190deg,
				// 	rgba(255, 255, 255, 1) 0%,
				// 	rgba(247, 247, 247, 1) 50%,
				// 	rgba(242, 242, 242, 1) 100%
				// );
				border: 1.5px solid var(--second-color);
				text-align: center;
				-webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);
				box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);

				&:hover {
					.image {
						.mockup {
							opacity: 1;
						}
					}
				}

				.description {
					width: 100%;
					margin-top: 15px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: start;
					gap: 10px;

					.title {
						font-weight: 500;
						flex: 1;
						text-align: left;
						word-break: break-word;
					}

					.price {
						// font-weight: bold;
						white-space: nowrap;
						text-align: right;
					}
				}

				.weight {
					align-self: start;
					font-size: 12px;
					color: #606060;
				}

				.image {
					position: relative;
					border-radius: 20px;
					// padding: 25px 0;
					width: 100%;
					// max-height: 250px;
					height: 100%;
					// background-color: var(--main-color);
					background-color: #fff;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: transform 0.4s;
					}

					.mockup {
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						transition: opacity 0.5s ease-out;
					}
				}

				.title {
					font-family: "Cormorant Garamond", serif;
					font-size: 18px;
				}

				.price {
					padding: 4px 0;
					color: var(--second-color);
				}

				.buttons-container {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 8px;
					margin-top: 15px;
					font-size: 13px;
					a {
						position: relative;
						font-size: 13px;
						padding: 12px 20px;
						border-radius: 50px;
						text-decoration: none;
						border: 1.5px solid var(--second-color);
						color: var(--second-color);
						// background: #ececec;
						// color: #606060;
						transition: background-color 0.3s, color 0.3s;

						&:hover {
							background: var(--main-color);
						}

						// &::before {
						// 	content: "";
						// 	position: absolute;
						// 	inset: 0;
						// 	padding: 1px; /* grubość bordera */
						// 	border-radius: 50px;
						// 	background: linear-gradient(
						// 		180deg,
						// 		rgba(242, 242, 242, 0) 0%,
						// 		rgba(129, 129, 129, 1) 50%,
						// 		rgba(255, 255, 255, 1) 100%
						// 	);
						// 	-webkit-mask: linear-gradient(#fff 0 0) content-box,
						// 		linear-gradient(#fff 0 0);
						// 	-webkit-mask-composite: xor;
						// 	mask-composite: exclude; /* Firefox */
						// 	pointer-events: none;
						// }
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.shop-subpage-container {
		.products-container {
			.container {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
@media (min-width: 768px) {
	.shop-subpage-container {
		.products-container {
			.container {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}

@media (min-width: 992px) {
	.shop-subpage-container {
		margin-top: 40px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.filters-container {
			display: block;
			padding: 20px 10px;
			width: 320px;

			.price-filter {
				.title {
					font-family: "Cormorant Garamond", serif;
					text-transform: uppercase;
					font-size: 17px;
					font-weight: 500;
				}
			}
		}

		.products-container {
			width: calc(100% - 320px);
			.mobile-btns {
				display: none;
			}
		}
	}
}
