footer {
	.container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
		padding: 40px 20px;
		font-size: 14px;
		.info {
			img {
				width: 150px;
				margin-bottom: 15px;
			}

			a {
				text-decoration: none;
				color: #333;

				&:hover {
					color: var(--main-color);
				}

				p {
					i {
						padding-right: 5px;
					}
				}
			}
		}

		.links {
			h3 {
				font-weight: 400;
				font-size: 20px;
				margin-bottom: 10px;
			}

			ul {
				li {
					list-style: none;
					color: #333;

					a {
						text-decoration: none;
						color: #333;

						&:hover {
							color: var(--main-color);
						}
					}
				}
			}
		}
	}

	.copyright-container {
		border-top: 1px solid #000;
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 15px 0;
			font-size: 14px;

			.links-container {
				display: flex;
				gap: 8px;
				a {
					text-decoration: none;
					color: #333;

					&:hover {
						color: var(--main-color);
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	footer {
		.container {
			padding: 60px 20px;
			grid-template-columns: repeat(4, 1fr);
			justify-items: center;
		}

		.copyright-container {
			border-top: 1px solid #000;
			.container {
				padding: 20px 0;
				display: flex;
                flex-direction: row;
				justify-content: space-between;
				font-size: 14px;

				.links-container {
					display: flex;
					gap: 8px;
				}
			}
		}
	}
}
