.info-bar {
	// border-bottom: 2px solid #ddd;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 8px 30px;

		.contact-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 20px;
			font-size: 12px;
			color: #949494;

			.item {
				a {
					color: #949494;
					text-decoration: none;
				}
			}
		}

		.nfz-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 13px;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}

nav {
	width: calc(100% - 10px);
	margin-left: 5px;
	border-radius: 35px;
	position: fixed;
	top: 36px;
	// background-color: transparent;
	// background-color: rgba(255, 255, 255, 0.45);
	// background-color: #fff;
	z-index: 999;
	transition: top 0.5s ease, background-color 0.5s ease;

	&.scrolled {
		background-color: #fff;
		top: 5px;
	}

	.nav-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 75px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		transition: background-color 0.3s;
		border-radius: 35px 35px 0 0;

		&.active {
			background-color: #fff;

			img {
				filter: none;
			}
		}

		img {
			width: 90px;
			height: auto;
			justify-self: start;
			margin-left: 20px;
			filter: brightness(0) invert(1);
			transition: 0.3s;

			&.scrolled {
				filter: none;
			}

			&:hover {
				transform: scale(1.03);
			}
		}

		.burger {
			position: relative;
			width: 32px;
			height: 28px;
			background: transparent;
			border: 0;
			cursor: pointer;
			margin-right: 20px;

			.line {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 28px;
				height: 2px;
				background: #fff;
				border-radius: 999px;
				transform-origin: center;
				transition: transform 0.25s ease, background-color 0.25s ease;
				transform: translate(-50%, -50%);

				&.scrolled {
					background: #000;
				}

				&:nth-child(1) {
					transform: translate(-50%, calc(-50% - 6px)) rotate(0deg);
				}
				&:nth-child(2) {
					transform: translate(-50%, calc(-50% + 6px)) rotate(0deg);
				}
			}

			&.active {
				.line:first-child {
					transform: translate(-50%, -50%) rotate(45deg);
					background-color: var(--main-color);
				}

				.line:nth-child(2) {
					transform: translate(-50%, -50%) rotate(-45deg);
					background-color: var(--main-color);
				}
			}
		}

		.subline {
			opacity: 0;
			position: absolute;
			width: calc(100% - 40px);
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 1.5px;
			background-color: var(--main-color);
			transition: opacity 0.5s;

			&.active {
				opacity: 1;
			}
		}

		.ul-container {
			display: flex;
			justify-content: space-between;
			/* max-height: 0; */
			opacity: 0;
			pointer-events: none;
			overflow-x: hidden;
			overflow-y: scroll;
			border-radius: 0 0 35px 35px;
			transition: max-height 0.3s ease-in-out;
			position: absolute;
			top: 100%;
			right: 0;
			margin-bottom: 5px;
			background-color: #fff;
			list-style-type: none;
			height: calc(100vh - 85px);
			width: 100%;
			flex-direction: column;
			padding-top: 20px;
			transition: opacity 0.5s;
			z-index: 100;

			.links-container {
				.submenu {
					// position: relative;
					list-style-type: none;
					// font-weight: bold;

					.submenu-btn {
						font-size: 20px;
						// font-weight: bold;
						margin-left: 20px;
						margin-right: 20px;
						letter-spacing: 2px;
						color: #000;
						transition: color 0.3s;
						cursor: pointer;

						&:hover {
							color: var(--main-color);
						}

						i {
							position: absolute;
							right: 0;
							margin-right: 20px;
						}
					}

					.submenu-content {
						position: absolute;
						display: flex;
						overflow-y: scroll;
						// visibility: hidden;
						opacity: 0;
						pointer-events: none;
						flex-direction: column;
						height: 100%;
						width: 100%;
						top: 0;
						left: 0;
						transform: translateX(100%);
						z-index: 50;
						background-color: #fff;
						transition: transform 0.5s ease-out, opacity 0.2s ease-out;
						padding: 30px 20px 0;

						&.active {
							opacity: 1;
							pointer-events: auto;
							// visibility: visible;
							transform: translateX(0);
						}

						a {
							font-size: 15px;
							margin-bottom: 30px;
							padding-bottom: 30px;
							color: #000;
							border-bottom: 0.2px solid #ddd;
						}

						a:first-of-type {
							font-size: 13px;
							margin-bottom: 15px;
							padding-bottom: 15px;
							color: #ddd;
							border-bottom: none;
							letter-spacing: normal;
							cursor: pointer;

							i {
								padding-right: 10px;
							}
						}
					}
				}
			}
			.visit-container {
				display: none;
			}

			&.active {
				opacity: 1;
				pointer-events: auto;
				scroll-behavior: unset;
			}

			a {
				font-size: 20px;
				text-decoration: none;
				// font-weight: bold;
				/* position: relative; */
				/* padding: 10px; */
				letter-spacing: 2px;
				color: #000;
				transition: color 0.3s;

				p {
					margin-left: 20px;
					margin-right: 20px;
				}

				&:hover {
					color: var(--main-color);
				}
			}

			li {
				margin-top: 15px;
			}

			.contact-links {
				margin-bottom: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;

				li {
					a {
						font-size: 15px;
						font-weight: normal;
						text-transform: none;
						margin-left: 0;
						margin-right: 0;
						text-align: center;
						padding: 20px 25px;
						background-color: var(--main-color);
						color: #fff;
						border-radius: 5px;
						transition: background-color 0.3s;

						&:hover {
							background-color: var(--second-color);
						}

						i {
							font-size: 20px;
							padding-right: 8px;
						}
					}

					&:last-of-type {
						margin-top: 60px;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.info-bar {
		.container {
			padding: 8px 15px;
		}
	}
	nav {
		position: sticky;
		background-color: #fff;
		border-radius: 35px;
		width: calc(100% - 30px);
		margin-left: 15px;
		top: 5px;

		&.scrolled {
			top: 5px;
		}
		.nav-container {
			padding-top: 20px;
			padding-bottom: 20px;

			// img {
			// 	height: 75px;
			// 	width: auto;
			// }

			img {
				filter: none;
			}

			.subline {
				display: none;
			}

			.burger {
				display: none;
			}

			.ul-container {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				opacity: 1;
				pointer-events: auto;
				top: 0;
				right: 0;
				height: auto;
				flex-direction: row;
				padding-top: 0px;
				transition: none;
				margin-left: 40px;
				overflow: visible;
				background-color: transparent;

				.links-container {
					display: flex;
					flex-direction: row;
					align-items: center;
					.submenu {
						position: relative;
						list-style-type: none;

						.submenu-btn {
							color: #000;
							font-weight: 300;
							font-size: 13px;
							justify-self: center;
							margin-left: 20px;
							margin-right: 20px;
							letter-spacing: 1px;
							i {
								position: relative;
								display: inline-block;
								margin-left: 10px;
								margin-right: 0;
								transform: rotate(90deg);
								transition: transform 0.3s;

								&.open {
									transform: rotate(270deg);
								}
							}
						}

						.submenu-content {
							position: absolute;
							display: grid;
							gap: 10px;
							grid-template-columns: repeat(1, 1fr);
							overflow-y: auto;
							visibility: none;
							opacity: 0;
							pointer-events: none;
							height: auto;
							width: 300px;
							top: 40px;
							left: 50%;
							transform: translateX(-50%);
							z-index: 1000;
							background-color: var(--main-color);
							transition: opacity 0.3s ease-out;
							padding-top: 0;
							padding: 10px 0;
							border-radius: 7px;
							box-shadow: 0px 7px 20px -5px var(--second-color);

							&.active {
								opacity: 1;
								pointer-events: auto;
								visibility: visible;
								left: 50%;
								transform: translateX(-50%);
							}

							a {
								font-size: 13px;
								font-weight: 300;
								padding: 15px 20px 15px 20px;
								margin-bottom: 0;
								color: #fff;
								border-bottom: none;

								&:hover {
									color: #000;
								}
							}

							a:first-of-type {
								display: none;
							}
						}
					}
				}

				.visit-container {
					display: block;
					li {
						margin-left: 15px;
						a {
							&:hover {
								p {
									border: 1px solid var(--main-color);
									background-color: #fff;
									color: var(--main-color);
								}
							}
							p {
								padding: 10px 15px;
								border-radius: 12px;
								background-color: var(--main-color);
								color: #fff;
								border: 1px solid var(--main-color);
								transition: background-color 0.3s, color 0.3s;
							}
						}
					}
				}

				a {
					font-size: 13px;
					font-weight: 300;
					text-align: center;
					margin-left: 20px;
					margin-right: 20px;
					letter-spacing: 1px;
					color: #000;
					transition: color 0.3s;

					&:hover {
						color: var(--main-color);
					}
				}

				li {
					margin-top: 0;
				}

				.contact-links {
					display: none;
				}
			}
		}
	}
}
