.about-us-section {
	padding: 40px 20px;

	.container {
		.cards-container {
			display: flex;
			flex-direction: column;
			gap: 15px;
			margin-top: 30px;
			margin-bottom: 30px;

			.card {
				display: flex;
				flex-direction: column;
				gap: 90px;
				padding: 30px 25px;
				color: #fff;
				border-radius: 45px;
				background-position: center;
				background-size: cover;
				-webkit-box-shadow: 3px 7px 17px 0px rgba(0, 0, 0, 0.06);
				-moz-box-shadow: 3px 7px 17px 0px rgba(0, 0, 0, 0.06);
				box-shadow: 3px 7px 17px 0px rgba(0, 0, 0, 0.06);

				h3 {
					font-size: 23px;
					font-weight: 400;
				}

				p {
					font-size: 14px;
					margin-bottom: 10px;
				}

				&:nth-of-type(1) {
					background-color: #14b4ad;
					background-image: linear-gradient(
							180deg,
							rgba(20, 180, 173, 0) 0%,
							rgba(20, 180, 173, 1) 100%
						),
						url("https://przemyslawmusial.github.io/pasko/img/rehabilitacja-onkologiczna.jpg");
				}
				&:nth-of-type(2) {
					background-color: #14b4ad;
					background-image: linear-gradient(
							180deg,
							rgba(20, 180, 173, 0.2) 0%,
							rgba(20, 180, 173, 0.2) 100%
						),
						url("https://przemyslawmusial.github.io/pasko/img/centrum-leczenia-obrzekow.jpg");
				}
				&:nth-of-type(3) {
					background-color: #14b4ad;
					background-image: linear-gradient(
							180deg,
							rgba(20, 180, 173, 0.2) 0%,
							rgba(20, 180, 173, 0.2) 100%
						),
						url("https://przemyslawmusial.github.io/pasko/img/rehabilitacja-ortopedyczna.jpg");
				}
				&:nth-of-type(4) {
					background-color: #fff;
					color: #000;
				}
				&:nth-of-type(5) {
					background-color: #fff;
					background: #14b4ad;
					background: radial-gradient(
						circle,
						rgba(20, 180, 173, 0) 0%,
						rgba(20, 180, 173, 0.25) 100%
					);
					color: #000;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.about-us-section {
		.container {
			.cards-container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@media (min-width: 992px) {
	.about-us-section {
		.container {
			.cards-container {
				display: grid;
				grid-template-columns: repeat(4, 1fr);

				.card {
					&:nth-of-type(1) {
						grid-column: 1 / 3;
					}
					&:nth-of-type(2) {
						grid-column: 3 / 4;
					}
					&:nth-of-type(3) {
						grid-column: 4 / 5;
					}
					&:nth-of-type(4) {
						grid-column: 1 / 3;
					}
					&:nth-of-type(5) {
						grid-column: 3 / 5;
					}
				}
			}
		}
	}
}
