.blog-section {
	padding: 0 20px 30px;

	.container {
		.blog-container {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 25px;
			padding: 30px 20px;
			.card {
				padding: 20px;
				border-radius: 45px;
				background-color: #fff;
				-webkit-box-shadow: 10px 67px 41px 0px rgba(0, 0, 0, 0.05),
					4px 30px 30px 0px rgba(0, 0, 0, 0.09),
					1px 7px 17px 0px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 10px 67px 41px 0px rgba(0, 0, 0, 0.05),
					4px 30px 30px 0px rgba(0, 0, 0, 0.09),
					1px 7px 17px 0px rgba(0, 0, 0, 0.1);
				box-shadow: 10px 67px 41px 0px rgba(0, 0, 0, 0.05),
					4px 30px 30px 0px rgba(0, 0, 0, 0.09),
					1px 7px 17px 0px rgba(0, 0, 0, 0.1);

				&:hover {
					.image {
						img {
							transform: scale(1.05);
						}
					}
				}

				.image {
					width: 100%;
					height: 200px;
					border-radius: 27px;
					overflow: hidden;

					img {
						width: 100%;
						height: 200px;
						object-fit: cover;
						border-radius: 27px;
						transition: transform 0.4s;
					}
				}

				.date {
					color: var(--main-color);
					font-size: 12px;
					margin: 10px 0;
				}

				h3 {
					font-weight: 400;
					font-size: 26px;
				}

				.content {
					color: #747474;
					font-size: 13px;
				}

				.btn {
					margin-top: 40px;
					margin-bottom: 10px;
					display: flex;
					justify-content: end;
					a {
						text-decoration: none;
						padding: 15px 25px;
						font-size: 15px;
						border-radius: 100px;
						color: #fff;
						background-color: var(--main-color);
						border: 1px solid #fff;
						transition: background-color 0.3s, color 0.3s;

						&:hover {
							color: var(--main-color);
							background-color: #fff;
							border: 1px solid var(--main-color);
						}
					}
				}
			}
		}

		.blog-btn {
			text-decoration: none;
            padding: 0 20px;
			margin-top: 20px;
			margin-bottom: 20px;
			text-align: center;

			a {
				text-decoration: none;
				padding: 15px 25px;
				font-size: 15px;
				border-radius: 100px;
				color: var(--main-color);
				background-color: #fff;
				border: 1px solid #fff;
				transition: background-color 0.3s, color 0.3s;

				&:hover {
					color: #fff;
					background-color: var(--main-color);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.blog-section {
		.container {
			.blog-container {
				grid-template-columns: repeat(2, 1fr);
			}

			.blog-btn {
				display: flex;
				justify-content: end;
			}
		}
	}
}

@media (min-width: 1200px) {
	.blog-section {
		padding: 20px 0 40px;
		.container {
			.blog-container {
				padding: 15px 20px;
				.card {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;

					.image {
						width: 40%;
					}

					.description {
						width: 60%;
					}
				}
			}
		}
	}
}
