.events-section {
	padding: 40px 20px;
	background-color: var(--main-color);

	.container {
		.events-container {
			margin-top: 40px;
			margin-bottom: 30px;
			padding: 30px 20px;
			border: 2px solid #14c6be;
			border-radius: 45px;
			-webkit-box-shadow: 0px 52px 31px 0px rgba(0, 0, 0, 0.05),
				0px 23px 23px 0px rgba(0, 0, 0, 0.09),
				0px 6px 13px 0px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0px 52px 31px 0px rgba(0, 0, 0, 0.05),
				0px 23px 23px 0px rgba(0, 0, 0, 0.09),
				0px 6px 13px 0px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 52px 31px 0px rgba(0, 0, 0, 0.05),
				0px 23px 23px 0px rgba(0, 0, 0, 0.09),
				0px 6px 13px 0px rgba(0, 0, 0, 0.1);
			.item {
				width: 100%;
				padding: 15px 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 15px;
				align-items: center;
				color: #fff;
				border-top: 1px solid #f1f1f1;

				&:first-of-type {
					border-top: none;
				}

				.date {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 8px;
					width: 120px;
					flex-shrink: 0;

					.day {
						width: 40px;
						p {
							font-size: 32px;
							font-weight: bold;
							margin: 0;
							line-height: 1;
							text-align: right;
						}
					}

					.month-year {
						p {
							font-size: 14px;
							margin: 0;
							line-height: 1.2;
							text-align: left;
						}
					}
				}

				.description {
					flex-grow: 1;
					p {
						font-size: 18px;
						margin: 0;
					}
				}
			}

			.events-btn {
				margin-top: 40px;
                margin-bottom: 10px;
				text-align: center;

				a {
					text-decoration: none;
					padding: 15px 25px;
					font-size: 15px;
					border-radius: 100px;
					color: var(--main-color);
					background-color: #fff;
					border: 1px solid #fff;
					transition: background-color 0.3s, color 0.3s;

					&:hover {
						color: #fff;
						background-color: var(--main-color);
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.events-section {
		padding: 70px 20px;
		.container {
			display: flex;
			flex-direction: row;
			gap: 40px;

			.section-header-text-2 {
				width: 40%;
				text-align: left;
			}

			.events-container {
				width: 60%;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}
