header {
	position: relative;
	width: calc(100% - 10px);
	margin-left: 5px;
	border-radius: 35px;
	height: calc(100vh - 60px);

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;
		border-radius: 35px;
		z-index: 100;
	}

	.shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.4) 75%,
				rgba(0, 0, 0, 0.6) 100%
			),
			linear-gradient(
				225deg,
				rgba(20, 180, 173, 0) 36%,
				rgba(20, 180, 173, 1) 100%
			);
		border-radius: 35px;
		z-index: 150;
	}

	.description {
		position: absolute;
		text-align: center;
		color: #fff;
		width: 90%;
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 200;

		h1 {
			font-weight: 400;
			font-size: 43px;
			line-height: 1.1;
		}

		p {
			font-size: 13px;
			font-weight: 300;
			margin-bottom: 5px;
		}

		.button-container {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 15px;
			width: auto;

			a {
				text-decoration: none;
				padding: 20px 25px;
				font-size: 15px;
				border-radius: 100px;
				color: var(--main-color);
				background-color: #fff;
				border: 1px solid #fff;
				transition: background-color 0.3s, color 0.3s;

				i {
					padding-left: 9px;
				}

				&:hover {
					color: #fff;
					background-color: var(--main-color);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		height: calc(100vh - 150px);
		.description {
			text-align: left;
			h1 {
				font-size: 40px;
			}
			.button-container {
				flex-direction: row;
				gap: 25px;
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		.description {
			width: 50%;
			left: 35%;
			top: 45%;
			h1 {
				font-size: 50px;
				margin-bottom: 10px;
			}

			p {
				font-size: 16px;
			}

			.button-container {
				margin-top: 40px;
			}
		}
	}
}

@media (min-width: 992px) {
	header {
		width: calc(100% - 30px);
		margin-left: 15px;
		margin-top: 15px;
		border-radius: 35px;

		img {
			border-radius: 35px;
		}
	}
}
