.reviews-section {
	background-color: var(--main-color);
	padding: 40px 20px 60px;

	.container {
		.reviews-container {
			position: relative;
			.reviews-carousele {
				margin: 20px 25px 0;

				.slick-list {
					overflow: hidden;
				}

				.slick-track {
					display: flex !important;
				}

				.card {
					margin: 0 20px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					color: #fff;
					border: 2px solid #14c6be;
					border-radius: 45px;
					// -webkit-box-shadow: 30px 61px 41px 0px rgba(0, 0, 0, 0.05),
					// 	13px 27px 30px 0px rgba(0, 0, 0, 0.08),
					// 	3px 7px 17px 0px rgba(0, 0, 0, 0.09);
					// -moz-box-shadow: 30px 61px 41px 0px rgba(0, 0, 0, 0.05),
					// 	13px 27px 30px 0px rgba(0, 0, 0, 0.08),
					// 	3px 7px 17px 0px rgba(0, 0, 0, 0.09);
					// box-shadow: 30px 61px 41px 0px rgba(0, 0, 0, 0.05),
					// 	13px 27px 30px 0px rgba(0, 0, 0, 0.08),
					// 	3px 7px 17px 0px rgba(0, 0, 0, 0.09);
					.image {
						width: 120px;
						height: 120px;
						border-radius: 50%;
						border: 2px solid #14c6be;
						background-color: #fff;
						margin: 30px 0;

						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
							object-fit: cover;
						}
					}

					p {
						font-size: 14px;
						padding: 0 15px;
					}

					.content {
						line-height: 1.6;
					}

					.name {
						font-weight: bold;
						padding-top: 8px;
						padding-bottom: 40px;
					}
				}
			}

			.reviews-carousele-arrows {
				div {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 25px;
					height: 25px;
					border: 1px solid #fff;
					border-radius: 50%;
					color: #fff;
					transition: color 0.3s, background-color 0.3s;

					&:hover {
						background-color: #fff;
						color: var(--main-color);
					}

					i {
						font-size: 13px;
					}

					&:first-of-type {
						left: 0;
					}
					&:last-of-type {
						right: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.reviews-section {
		padding: 50px 20px 70px;
		.container {
			display: flex;
			gap: 20px;

			.section-header-text-2 {
				text-align: left;
				width: 40%;
			}

			.reviews-container {
				width: 60%;
			}
		}
	}
}
