.services-section {
	margin-top: 40px;
	margin-bottom: 80px;
	.container {
		padding: 0 20px;

		.services-container {
			.services-carousele {
				margin-top: 25px;

				.slick-list {
					overflow: hidden;
				}

				.slick-track {
					display: flex !important;
				}

				.card {
					position: relative;
					height: 430px;
					margin: 0 10px;
					.image {
						width: 100%;
						height: 100%;
						border-radius: 45px;

						img {
							width: 100%;
							height: 430px;
							border-radius: 45px;
							object-fit: cover;
							object-position: bottom;
						}
					}

					.arrow {
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 25px;
						right: 25px;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						background-color: #fff;
						transition: background-color 0.3s;

						i {
							transform: rotate(-45deg);
							color: var(--main-color);
							transition: color 0.3s;
						}

						&:hover {
							background-color: var(--main-color);

							i {
								color: #fff;
							}
						}
					}

					.description {
						position: absolute;
						bottom: 0;
						width: 100%;
						padding: 0 25px 25px 30px;

						h3 {
							font-size: 24px;
							color: #fff;
							font-weight: 400;
						}
					}
				}
			}

			.carousele-arrows {
				margin-top: 30px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				flex-direction: row;
				gap: 30px;

				i {
					font-size: 20px;
					transition: color 0.3s;

					&:hover {
						color: var(--main-color);
					}

					&.slick-diabled {
						color: #ddd;
					}
				}
			}
		}
	}
}

@media (min-width: 992px){
	.services-section{
		margin-top: 60px;
		margin-bottom: 100px;
	}
}
