.team-section {
	padding: 40px 20px 30px;

	.container {
		.team-container {
			padding: 0 20px 40px;

			.team-carousele-arrows {
				margin-top: 20px;
				margin-bottom: 30px;
				display: flex;
				justify-content: center;
				gap: 30px;

				i {
					font-size: 20px;
					transition: color 0.3s;

					&:hover {
						color: var(--main-color);
					}
				}
			}

			.team-carousele {
				.slick-list {
					overflow: hidden;
				}

				.slick-track {
					display: flex !important;
				}
				.card {
					position: relative;
					overflow: hidden;
					border-radius: 45px;
					margin: 0 10px;
					-webkit-box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.05);
					-moz-box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.05);
					box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.05);

					.image {
						width: 100%;
						display: flex;
						img {
							width: 100%;
							height: auto;
							object-fit: cover;
							object-position: top;
						}
					}

					.description {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100px;
						border-radius: 0 0 45px 45px;

						background-color: rgba(20, 180, 172, 0.7);
						color: #fff;
						padding: 20px;
						transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;

						.container {
							h3 {
								margin-bottom: 5px;
								font-weight: 500;
							}
							p {
								margin: 0;
								font-weight: 300;
							}
						}
					}

					&:hover {
						.description {
							height: 100%;
							border-radius: 45px;
							background-color: rgba(20, 180, 172, 0.85);
						}
					}
				}
			}

			.team-btn {
				text-decoration: none;
				margin-top: 40px;
				text-align: center;

				a {
					text-decoration: none;
					padding: 15px 25px;
					font-size: 15px;
					border-radius: 100px;
					color: var(--main-color);
					background-color: #fff;
					border: 1px solid #fff;
					transition: background-color 0.3s, color 0.3s;

					&:hover {
						color: #fff;
						background-color: var(--main-color);
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.team-section {
		.container {
			.team-container {
				.team-btn {
					display: flex;
					justify-content: end;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.team-section {
		.container {
			.team-container {
				.team-carousele-arrows {
					i {
						font-size: 26px;
					}
				}
			}
		}
	}
}
