.about-service-section {
	background-color: var(--main-color);
	color: #fff;

	.container {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.column-1 {
			text-align: center;
		}

		.column-2 {
			text-align: center;
			font-size: 14px;
		}
	}
}

.for-who {
	padding: 40px 20px;

	.image {
		width: 100%;
		height: 250px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 12px;
		}
	}

	.description {
		h2 {
			margin: 10px 0;
			font-family: "Piazzolla", serif;
			font-size: 25px;
			color: #70513a;
		}

		p {
			font-size: 14px;
			margin-bottom: 10px;
			color: #383838;
		}

		ul {
			margin-left: 20px;
			li {
				font-size: 14px;
				color: #383838;
				color: #000;

				&::marker {
					color: var(--main-color);
				}
			}
		}
	}
}

.subpage-cards-container {
	.card {
		.icon-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			// justify-content: space-evenly;
			// justify-content: center;
			align-items: center;
			gap: 10px;
			margin-bottom: 15px;
		}

		p {
			text-align: left;
			color: #787878;
			font-size: 13px;
		}

		.details {
			margin-top: 20px;
			padding: 0 5px;
			border-top: 1px solid #787878;
			width: 100%;
			p {
				margin-top: 10px;
				font-weight: bold;
				text-align: start;
			}

			ul {
				margin-left: 20px;

				li {
					font-size: 13px;
					color: #787878;

					&::marker {
						color: var(--main-color);
					}
				}
			}
		}
	}
}

.advantages-subpage-section {
	.cards-container {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;

		.card {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: var(--second-color);
			border-radius: 12px;
			padding: 15px 10px;
			-webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);

			h3 {
				font-family: "Piazzolla", serif;
				font-size: 22px;
				text-align: center;
				margin-bottom: 8px;
			}

			p {
				text-align: center;
				font-size: 14px;
				color: #383838;
			}
		}
	}
}

@media (min-width: 768px) {
	.about-service-section {
		.container {
			flex-direction: row;
			align-items: center;
			gap: 20px;

			.column-1 {
				width: 55%;
				text-align: left;

				.title {
					text-align: left;
				}
			}

			.column-2 {
				width: 45%;
				text-align: left;
			}
		}
	}

	.for-who {
		padding: 60px 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 30px;

		.image {
			width: 50%;
			height: 300px;
		}

		.description {
			width: 50%;

			h2 {
				margin: 0 0 10px;
			}
		}
	}

	.advantages-subpage-section {
		.cards-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (min-width: 992px) {
	.about-service-section {
		.container {
			gap: 40px;
			.column-2 {
				font-size: 16px;
			}
		}
	}

	.for-who {
		.description {
			h2 {
				font-size: 32px;
			}

			p {
				font-size: 16px;
			}

			ul {
				li {
					font-size: 16px;
				}
			}
		}
	}
}
